body
{
    border: 5px solid;
    border-color: black;
  
    display: flow-root /*this line makes sure everything is inside the main boder*/
    
}

#box1
{
    
    height: 50px;
    width: 50px;
    border: 3px solid;
    margin-top: 10px;
    float: left;
    overflow:auto ;
    

}

p{
    margin-left: 100px;
}

#box2
{
    border: 1px solid;
    float: right;
    
}



div{
    overflow: hidden;
}

